CREATE OR REPLACE SECRET aetherlake_s3 (
  TYPE s3,
  SCOPE 's3://__S3_BUCKET__',
  KEY_ID '__AWS_ACCESS_KEY_ID__',
  SECRET '__AWS_SECRET_ACCESS_KEY__',
  REGION '__AWS_REGION__',
  ENDPOINT '__S3_ENDPOINT_HOST__',
  URL_STYLE '__S3_URL_STYLE__',
  USE_SSL __S3_USE_SSL__
);

